/* VolunteerComponent.module.css */
.volunteerContainer {
  background-color: #6c5ce7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messageContainer {
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.imageContainer {
  margin-bottom: 10px;
}

.nameInput, .contactInfo {
  
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.nameInput input, .contactInfo input {
  width: calc(50% - 5px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #707070;
}

.volunteerButton {
  width: 201px;
  height: 32px;
  border-radius: 30px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}
